.bottom{
	position: fixed;
	bottom: 0;
	width: 100%;
	background: rgb(199,237,204);
	z-index: 999;
}
.bottom-bar{
	list-style: none;
}
.bar-item{
	float: left;
	width: 25%;
	text-align: center;
}
.bar-icon{
	width: 2rem;
	height: 2rem;
	margin: 0 auto;
}
.bar-icon img{
	width: 100%;
	height: 100%;
}
