.collection {
    font-size: 0;
    background: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
}
.collection .icon-item {
    display: inline-block;
    width: 24.99%;
    height: 100px;
    text-align: center;
}
.collection .icon-item a {
    font-size: 13px;
    color: #9b9b9b;
    text-decoration: none;
}
.collection .icon-item img {
    display: block;
    margin: 30px auto 10px;
    width: 26px;
    height: 26px;
}